<div class="text-white bg-dark">
	<h2 class="text-center" id="consultas">Mostrar proveedores</h2>
	<div class="d-flex justify-content-center"><button  class = "btn btn-info" id = "b1" type="button" >Obtener</button></div>
	<div id="proveedores"></div><br>

	<h2 class="text-center">Mostrar Materiales cuyo costo es menor al ingresado</h2>
	<div class="d-flex justify-content-center"><button id="b2" type="button" class="btn btn-info">Obtener</button><br></div>
	<div id="precio"></div><br>


	<h2 class="text-center">Información de los materiales cuya cantidad entrega mayor a la ingresada</h2><br>
	<div class="d-flex justify-content-center"><button id="b3" type="button" class="btn btn-info">Obtener</button><br>
	</div>
	<div id="cantidad"></div><br><br>
</div>
<br>