	<article class="p-3 mb-2 bg-light text-dark" id="preguntas">
		<header><h4>Preguntas</h4></header>
		
		<strong>¿Qué es ODBC y para qué es útil? [1]</strong>
		<ul>
			<li>Open Data Base Connectivity (ODBC) es una API de estándar abierto para acceder a una base de datos</li>
			<li>Su objetivo es hacer posible que desde cualquier aplicación sea posible acceder a los datos sin importar el gestor en el que esten </li>
		</ul>

		<strong>¿Qué es SQL Injection? [2]</strong>	
		<ul>
			<li>Es un tipo de ataque hacía una base de datos</li>
			<li>Es una técnica de hacking web bastante utilizada</li>
			<li>SQL Injection consiste en insertar software malicioso por medio SQL statments, esto a tráves del input en una página web</li>
		</ul>

		<strong>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection? [2]</strong>	
		<ul>
			<li>Para prevenirnos de estos ataques podemos usar prepared statments SQL</li>
			<li>Estos checan cada parámetro dado para verficar que esten en la forma correcta para cada columna y no sean parte de una sentencia SQL ejecutable</li>
		</ul>
		
	</article>
	<hr>