	<article id="preguntas">
		<header><h4>Preguntas</h4></header>
		<b><h5>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?[1]</h5></b>
		<ul>
			<li>Es importante porque si no se hace unset, las variables pueden seguir en estado "set", incluso  después de haber sido destruida la sesión y esto podría causar problemas</li>
			
		</ul>
		<b><h5>¿Cuál es la diferencia entre una variable de sesión y una cookie?[2]</h5></b>
		<strong></strong>
		<ul>
			<li>Una variable de sesión es una manera de alamcenar información para ser usada en múltiples páginas</li>
			<li>Una cookie, la información es almacenada en la computadora del usuario</li>
			
		</ul>

		<b><h5>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</h5></b>
		<ul>
			<li>Renombran la imagen, de manera que cuando se sube, tiene un nombre diferente al el usuario inicialmente había dado</li>
			
		</ul>

		<b><h5>¿Qué es CSRF y cómo puede prevenirse?[3]</h5></b>
		<ul>
			<li>Es un tipo de ataque en el atacante se hace pasar por usuario de confianza, de manera que la página confía en él</li>
			
		</ul>

	</article>
	<br><hr>