	<h5 id="referencias">Referencias</h5>
	<p>[1] <a href="https://www.w3schools.com/pHp/php_sessions.asp">https://www.w3schools.com/pHp/php_sessions.asp</a>
				</p>
				<p>[2] <a href="https://www.w3schools.com/pHp/php_sessions.asp">https://www.w3schools.com/pHp/php_sessions.asp</a></p>
				<p>[3] <a href="https://medium.com/@GemmaBlack/csrf-the-a-z-2b85d26438b">https://medium.com/@GemmaBlack/csrf-the-a-z-2b85d26438b</a></p><br><br>
	<nav class="center-align">
		© 2019 Materialize, All rights reserved. Manuel Yafté Gallegos López						
	</nav>
