	<footer class="p-3 mb-2 bg-info text-white" id="referencias">
			<h4>Referencias</h4>
			<nav>
				
				[1] <a href="https://www.w3schools.com/Php/php_ajax_intro.asp">https://www.w3schools.com/Php/php_ajax_intro.asp</a><br>
				[2] <a href=" https://stackoverflow.com/questions/4333967/security-risks-of-ajax-from-validation"> https://stackoverflow.com/questions/4333967/security-risks-of-ajax-from-validation</a><br>
				[3] <a href="https://www.json.org/json-es.html">https://www.json.org/json-es.html</a><br> 
								
			</nav>
		</footer>
	</div>
	<script type="text/javascript" src="../js/ajax.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
	<script src="bootstrap/js/bootstrap.min.js" ></script>


	<script type="text/javascript" src="js_ajax/ajax.js"></script>

	
</body>
</html>