	<article class="p-3 mb-2 bg-light text-dark" id="preguntas">
		<header><h4>Preguntas</h4></header>
		
		<strong>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications? [1]</strong>
		<ul>
			<li>Las aplicaciones RIA buscan conbinar las ventajas de las aplicaciones de escritorio junto con las aplicaciones web. Usar AJAX es apropiado cuando 
			queremos que la aplicación se comunica con el cliente de manera asíncrona , sin la necesidad de recargar toda la página para mejor experiencia de
			usuario</li>
			
		</ul>

		<strong>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor? [2]</strong>	
		<ul>
			<li>Las validaciones deben hacerse del lado del cliente. No deben hacerse del lado del servidor a menos que se requiera de conectarse a una base de datos
			para extraer información. AJAX unicamente evita que todo el documento se recargue, por lo que sino se valida bien del lado del cliente, se ejecutarían y se</li>
		</ul>

		<strong>¿Qué es JSON?[3]</strong>
		<ul>
			<li>JavaScript Object Notation es un formato de intercambio de datos sencillo. Es fácil de leer para humanos y fácil de interpretar para las máquinas</li>
			<li>Se compome de dos estructuras: Colección de pares de nombre/valor y Lista ordenada de valores</li>
		</ul>
	</article>
	<hr>