body{
	text-align: justify;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	max-width: 50em;
  	margin: 0 auto;
  	line-height: 1.5;
	padding: 1em 1em;  
	background-image: url("background.jpg");
	background-size: cover;
	color: white;  	
}

a{
	color: #ffcc00;
}

header{
	text-align: center;
}
