	<footer class="p-3 mb-2 bg-info text-white" id="referencias">
			<h4>Referencias</h4>
			<nav>
				
				[1] <a href="https://www.brainvire.com/six-benefits-of-using-mvc-model-for-effective-web-application-development/"> https://www.brainvire.com/six-benefits-of-using-mvc-model-for-effective-web-application-development/</a><br>
				[2] <a href="http://php.net/manual/es/language.variables.superglobals.php">http://php.net/manual/es/language.variables.superglobals.php</a><br>
				[3] <a href="https://www.w3schools.com/php/func_filesystem_glob.asp">https://www.w3schools.com/php/func_filesystem_glob.asp</a><br> 
				[4] <a href="https://www.w3schools.com/php/func_array_multisort.asp">https://www.w3schools.com/php/func_array_multisort.asp</a><br>
				[5] <a href="https://medium.com/@jpmorris/how-to-prevent-xss-attacks-by-escaping-output-in-php-942204bf184">https://medium.com/@jpmorris/how-to-prevent-xss-attacks-by-escaping-output-in-php-942204bf184</a><br>

				
			</nav>
		</footer>
	</div>
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
	 <script src="bootstrap/js/bootstrap.min.js" ></script>
	
</body>
</html>