<!DOCTYPE html>
<html>
<head>
	<title>Laboratorio 11</title>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link rel="stylesheet" type="text/css" href="style.css">


</head>
<body>
	

	
  	<nav class="topnav">
		<a href="#preguntas"><strong>Preguntas</strong></a>
		<a href="#referencias"><strong>Referencias</strong></a>
	</nav>
	<br>

	<h1 class="text-center">Lab 11: Manejo de formas con php y modelo de capas</h1><br>
	<hr>
	<h4 class="text-center">Registrar proveedor:</h2>
			
